{% extends "base.html" %}

{% block outdated %}
  You're not viewing the latest version.

  <a href="{{ '../' ~ base_url ~ '/latest/' }}"> 

    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}